*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
}
body {
  background-color: #ffffff;
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
}
.conteiner {
  width: 1200px;
  padding: 0px 15px;
  margin: 0 auto;
  }
  .section{
    padding: 94px 0;
  }
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

/* стили хедера */
.header {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
.first-part-of-logo {
  color: var(--accent-color);
}

.link {
  text-decoration: none;
  color: var(--primary-text-color);
}
.link:hover {
  color: var(--accent-color);
}
.link:focus {
  color: var(--accent-color);
}
.list {
  list-style: none;
}
.active {
  color: var(--accent-color);
}
.header-conteiner {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-around;
}

.nav-conteiner {
  display: flex;
  align-items: center;
  }

.main-nav {
  display: flex;
  margin-left: 93px;
}
.main-nav-item:not(:first-child){ 
  margin-left: 50px;
}
.contacts-list {
  display: flex;
  margin-left: auto;
}
.contacts-list > li + li {
  margin-left: 50px;
}

.header-contacts-list {
  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  align-items: center;
}

.contacts-list-item {
  display: block;
  width: auto;
}

/* стили легенд */
.legend-section {
  background-color: #2f303a;
  padding: 200px 0px;
}
.main-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 40px;
}

.order-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background: #2196f3;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
}

/* стили принципы работы */

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.about-us-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-text-color);
}
.about-us-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
.about-us-list {
  display: flex;
}
.about-us-item:not(:first-child){ 
  margin-left: 30px;
}
.about-us-item {
  width: 300px;
}

/* секция Чем мы занимаемся*/

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
.worck-exemple-list {
  display: flex;
  flex-basis: calc(100% / 3);
}
.worck-exemple-item:not(:first-child){
  margin-left: 30px;
}

/* наша команда */
.section-our-team {
  background-color: #f5f4fa;
}
.our-team-list {
  display: flex;
}

.team-member-item:not(:first-child){
  margin-left: 30px;}

.team-member-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.9;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
.members-profile {
  font-size: 16px;
  line-height: 1.9;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
}
.team-member {
  text-decoration: none;
}
.members-profile {
  text-decoration: none;
}
/* футер */
.footers-contacts {
  text-decoration: none;
}
.location {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.footer-contact-item {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer {
  background-color: #2f303a;
}
.footer-content {
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer-logo-second-part {
  color: #ffffff;
}
.footer-logo {
  padding-bottom: 20px;
}
.footer-link 
{
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer-contacts {
  font-style: normal;
  }

.footer-contacts-item{
  padding-bottom:not(:nth-last-child) 9px;
}

  .location {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.footer-contacts-link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

/* стили портфолио */
.filtr-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  cursor: pointer;
  radius: 4px;
  }
  
.filtr-button:hover {
  color: #ffffff;
  background-color: var(--accent-color);
}
.filtr-button:focus {
  color: #ffffff;
  background-color: var(--accent-color);
}

.nav-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
.filtr-item:not(:first-child){
  margin-left: 8px;}

  .projects-galery-list{
  display: flex;
  flex-wrap: wrap;
}

}
.example-of-projects {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
  }
.type-of-project {
  font-size: 16px;
  line-height: 1.87px;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  margin-top: 4px;
}
.galery{margin-top: 50px;}

 }
 .projects-galery-item {
   display: flex;
}
  .projects-galery-item {
    margin-right: 30px;
    margin-bottom: 30px;
  }

 .projects-galery-item:nth-child(3n){
  margin-right: 0px;
}
.projects-galery-item:nth-last-child(-n + 3){
  margin-bottom: 0px;
}
.description-galery-item{
  padding: 20px 24px;
}